.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.overflow-hidden {
    overflow: hidden !important;
}

.visibility-hidden {
    visibility: hidden !important;
}

.display-none {
    display: none !important;
}

.cpointer {
    cursor: pointer;
}

.white {
    color: white;
}