.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.overflow-hidden {
    overflow: hidden;
}

.visibility-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}