body {
    font-family: Arial;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

@import "helpers";
@import "components/index";
@import "home";
@import "globalComponents";
@import "gallery";
@import "profileList";
@import "login";
@import "uploadFile";